// Designer please put things here -> globals (colors, fonts, etc)
$sidebar-bgcolor: #505050;
$sidebar-font-color: #ffff;
$footer-color: #4444;

//header vars
$header-bg-colors: white;
$header-font-color: red;

//footer vars
$footer-bg-color: #333;
$footer-text-color: #ffff; 